.text{
	resize: none;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:20%;
	border:2px solid black;
}
#body{	
	height:250px;
	width:500px
}
button{
	margin: 4%;
}
button:hover{
	background-color: yellow;
}