<div class="content">
  <h1>We're here to support you!</h1>
  <p>
    Please record your issues below and we will have a team of qualified developers to help you. We will email you with a ticket number and
    try to get to you as soon as possible.
  </p>
<form (submit)="onAddBug(bugForm)" #bugForm="ngForm">
  <h3>Title of complaint:</h3>
  <mat-form-field>
    <textarea matInput placeholder="Enter subject of complaint: " name="title" ngModel required #subject="ngModel"
      rows="4" minlength="5" maxlength="20" class="text"></textarea>
    <mat-error>Please enter a subject title > 5 characters</mat-error>
    <br>
    <textarea matInput placeholder="Enter issue: "  id="body" name="content" ngModel required #issue="ngModel"
       rows = "4" minlength="10" maxlength="200" class = "text"></textarea>
    <mat-error>Please enter a bug issue > 10 characters</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" matTooltip="Submit Bug">Submit</button>
</form>
</div>
