<div class="content">
  <h1>We're here to support you!</h1>
  <p>
    Please record your issues below and we will have a team of qualified developers to help you. We will email you with a ticket number and
    try to get to you as soon as possible.
  </p>
  <h2>Enter subject of issue, should be concise and to the point</h2>
  <input type="text" placeholder="Subject" maxlength="10" />
  <br>
  <h2>Report issue here</h2>
  <textarea class="text" maxlength="200" placeholder="Report issues here......" resize="false"></textarea>
  <button mat-raised-button color = "warn" class = "submit">Submit</button>
</div>