<div class="content">
  <h1>Welcome to E-mart</h1>
  <h2>Featured Products</h2>
  <div class="deals">
  	<!--
  		EXAMPLE OF PRINTING OUT USERS NEED SERVICE
    <mat-accordion multi="true" *ngIf="users.length > 0">
      <div *ngFor="let user of users">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            {{ user.id }}
          </mat-expansion-panel-header>
          <p>{{ user.test }}</p>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
-->
<mat-card class = "showCategory">
  <mat-card-subtitle>Brand new PC</mat-card-subtitle>
  <mat-card-content>Checkout our great PC deals!</mat-card-content>
  <img mat-card-img src = "assets/Images/pc.jpg" alt = "image of PC">
  <br>
  <button (click) = "gotoElectronics()"> Go To Electronics</button>
</mat-card>
<mat-card class = "showCategory">
  <mat-card-subtitle>Brand new books</mat-card-subtitle>
  <mat-card-content>Checkout our great book selection!</mat-card-content>
  <img mat-card-img src = "assets/Images/hitchhiker.jpeg" alt = "image of book">
  <br>
    <button (click) = "gotoBooks()"> Go To Books</button>
</mat-card>
<mat-card class = "showCategory">
  <mat-card-subtitle>Brand new Sportsware</mat-card-subtitle>
  <mat-card-content>Checkout our new sports equipment!</mat-card-content>
  <img mat-card-img src = "assets/Images/sports.jpg" alt = "image of sports equipment">
  <br>
    <button (click) = "gotoSports()"> Go To Sports</button>
</mat-card>
<mat-card class = "showCategory">
  <mat-card-subtitle>Brand new outdoor equipment</mat-card-subtitle>
  <mat-card-content>Checkout our great outdoor deals!</mat-card-content>
 <img mat-card-img src = "assets/Images/outdoor.jpeg" alt = "image of outdoor equipment"/>
 <br>
   <button (click) = "gotoOutdoor()"> Go To Outdoors</button>
</mat-card>
</div>
<!--  	  {{users[0].name}} -->