<div class = "content">
  <div class="intro">
    We are a company that values honesty and hard work, we are proud to be one of the major players in the online market.
    Emart allows equal opportunity employment and work hard to ensure all our employees are taken care of.
  </div>
  <div class="fulfillment">
    At Emart, we’re able to innovate and delight customers thanks to our incredible workforce—the more than 250,000 full-time associates behind our global network of fulfillment centers. Emart Fulfillment is where our employees, technology and innovation come together every day to delight customers.
  </div>
</div>
