<div class = "content">
  <div class="intro">
    We are a company that values honesty and hard work, we are proud to be one of the major players in the online market.
    Emart allows equal opportunity employment and work hard to ensure all our employees are taken care of.
    <img src = "assets/Images/workforce.jpg" alt = "Look at how happy they are!" />
  </div>
  <div class="fulfillment">
    At Emart, we’re able to innovate and delight customers with our amazing products and thanks to our incredible workforce—the more than 100,000 full-time associates behind our global commerce site. Emart centres are where our technology and innovation come together every day to delight and amaze our customers.
    <img src = "assets/Images/happy.jpg" alt = "Look at how happy they are!" />
  </div>
</div>
