<div class = "content">
<form class="Search-form">
  <mat-form-field class="Search">
    <input matInput placeholder="Search For Books" value="Search">
  </mat-form-field>
</form>
</div>

<!-- Start the display for books -->
<div class="content">
  <h1>Welcome to the books section</h1>
  <img src="assets/Images/book.jpeg" alt="image" width="500" height="500">
   <mat-card-content>To celebrate our love of books we have some very special deals</mat-card-content>
  <div class="deals">
    <mat-card>
      <mat-card-content>Deals in programming books</mat-card-content>
      <mat-card-content></mat-card-content>

      <img src="assets/Images/java.jpeg" alt="image" width="300" height="400">
      <h3>Learn java from 5</h3>
      <img src="assets/Images/pythonProgramming.png" alt="image" width="300" height="400">
      <h3>Become the python master from 5!</h3>
      <img src="assets/Images/cleanCode.jpg" alt="image" width="333" height="200">
      <h3>Become the best programmer you can be!</h3>
    </mat-card>
