<mat-toolbar color = "primary" >
	<mat-toolbar-row id = "webName">EMart</mat-toolbar-row>
	<mat-toolbar-row>
		<a routerLink = "homepage" class = "menuLink" class = "home"><mat-icon class = "menuButton">home</mat-icon></a>
		<a routerLink = "categories" class = "menuLink"><button mat-raised-button color = "warn" class = "menuButton">Categories</button></a>
		<a routerLink = "deals" class = "menuLink"><button mat-raised-button color = "warn" class = "menuButton">Deals</button></a>
		<a routerLink = "about" class = "menuLink"><button mat-raised-button color = "warn" class = "menuButton">About</button></a>
		<a routerLink = "support" class = "menuLink"><button mat-raised-button color = "warn">Support</button></a>
	</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!--For angular icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">