/* You can add global styles to this file, and also import other style files */
#menu {
  color: purple;
}

.content {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 14px; 
}

.button{
	margin: 10%;
	margin-top: 5%;
}
.itemContent{
	border: 4px black solid;
	margin:1%;
	background-color:#FFF5EE;;
}